.contact-container {
  max-width: 600px; /* Adjust the width as needed */
  margin: 0 auto; /* Centering the container */
  padding: 20px;
  text-align: center; /* Center the content */
}

.contact-header {
  font-size: 2rem; /* Large header size */
  margin-bottom: 30px; /* Spacing below the header */
  color: #333; /* Header text color */
}

.contact-link {
  display: flex; /* Align items in a row */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 20px; /* Spacing between each link */
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Text color */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.contact-link:hover {
  color: #eb9cb3; /* Color change on hover */
}

.contact-link img {
  width: 100px; /* Fixed width for icons */
  height: 100px; /* Fixed height for icons */
  margin-right: 10px;
}
