/* Global Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20%;
  background-color: #f4f4f4;
  color: #333; /* Consolidated color */
}

/* Link Styles */
nav a, #myLink {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: transform 0.4s ease, color 0.2s ease;
}

#myLink {
  font-size: 24px; /* Adjusted font size */
}

/* Hover Styles */
nav a:hover, .hamburger:hover span {
  transform: scale(1.1);
}

#myLink:hover {
  color: #eb9cb3; /* Different text color on hover */
}

/* List and List Item Styles */
nav ul, ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li, li {
  margin: 20px; /* Consolidated margin */
}



.nav-menu ul {
  display: flex;
  flex-direction: row; /* Align menu items in a row */
  flex-wrap: wrap; /* Wrap items if needed */
}

.nav-menu li {
  margin-right: 10px; /* Spacing between menu items */
}

.close-btn {
  display: none; /* Hide by default */
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.nav-menu.open .close-btn {
  display: block; /* Show only when menu is open */
}

.hamburger {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #333;
}

@media (max-width: 768px) {
  nav {
    padding: 10px 5%;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    z-index: 100;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  .nav-menu.open {
    right: 0;
    border-left: 1px #333;

  }

  .nav-menu ul {
    padding: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column; /* Adjust for vertical layout */
  }

  .nav-menu li {
    margin-right: 10px;
  }

  .close-btn {
    width: 25px;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }

  .nav-menu.open .close-btn {
    display: block;
  }
}
