/* Global Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20%;
  background-color: #f4f4f4;
  color: #333; /* Consolidated color */
}

/* Link Styles */
nav a, #myLink {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: transform 0.4s ease, color 0.2s ease;
}

#myLink {
  font-size: 24px; /* Adjusted font size */
}

/* Hover Styles */
nav a:hover {
  transform: scale(1.1); /* Increase size on hover */
}

#myLink:hover {
  color: #eb9cb3; /* Different text color on hover */
}

/* List and List Item Styles */
nav ul, ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li, li {
  margin: 20px; /* Consolidated margin */
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  border: none;
  background: transparent;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu.open {
    display: flex;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
