/* Define styles for the portfolio list */
.portfolio-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px; /* Additional margin for spacing between rows */
}

/* Additional styles for the second row to handle 2 items */
@media (min-width: 601px) {
  .portfolio-list::after {
    content: '';
    grid-column: span 1;
  }
}

/* Define styles for each portfolio item */
.portfolio-item {
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-2px);
}

/* Other styles remain the same */

/* Adjust the grid for smaller screens */
@media (max-width: 600px) {
  .portfolio-list {
    grid-template-columns: 1fr;
  }
}




  /* src/styles/navbar.css */


  @import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-family: 'Abel', sans-serif;
}

body {
  background-color: #f4f4f4;
}

main {
  display: block;
  background-color: #f4f4f4;
  height: 90vh;

  }


/* Wrapper.css */
.wrapper {
  width: 100%;
  max-width: 1200px; /* Or whatever max width you prefer */
  margin: 0 auto; /* Centers the wrapper */

}

@media (max-width: 768px) {
  .wrapper{
    width: 95%;
    margin: 0 auto; /* Centers the wrapper */

  }
}
